<div class="app-content has-header has-subheader">

	<div class="app-header1">
			<div class="header">
				<div class="container">
					<h1 class="title"><i aria-hidden="true" class="lineal lineal-stack-windows"></i>INGRESO DE NUEVO USUARIO</h1>	
						<div class="actions">
				</div>			
				</div>
			</div>
		
		</div>

	<div class="app-section">
		<div class="container">
		
		<form name="form">
		<!--  [A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$-->
		<!-- ^[a-Z0-9]+@gmail\\.com$ -->
		<div class="form-group">
			<label for="inputText" class="col-sm-1 control-label">EMAIL</label>
			<div class="col-sm-10">
			<input type="text" name="email" class="form-control" pattern="[A-Za-z0-9._%+-]+@[gmail]+\.[A-Za-z]{2,63}$" ng-model="ctrl.ingreso.email" placeholder="Ingrese un Email" required>
			<span ng-messages="form.email.$error" ng-show="form.email.$dirty" style="color: maroon" role="alert">
				<span ng-message="required">Requerido</span>
				<span ng-message="pattern">Ingresar email valido</span>
			</span>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="form-group">
			<label for="inputText" class="col-sm-1 control-label">PASSWORD</label>
			<div class="col-sm-10">
			<input type="password" name="password" class="form-control" ng-model="ctrl.ingreso.password" placeholder="Ingrese una Password" required>
			<span ng-messages="form.password.$error" ng-show="form.password.$dirty" style="color: maroon" role="alert">
				<span ng-message="required">Requerido</span>
			</span>
			</div>
		</div>
		<br>
		<br>
	    <div class="form-group">
			<label for="inputText" class="col-sm-1 control-label">CONFIRMAR PASSWORD</label>
			<div class="col-sm-10">
			<input type="password" name="confirmPassword" class="form-control" ng-model="ctrl.ingreso.confirmPassword" compare-to="ctrl.ingreso.password" placeholder="Ingrese una Password" required>
			 <span ng-messages="form.confirmPassword.$error" style="color: maroon" role="alert">
				<span ng-message="compareTo">Las password son diferentes</span>
			</span>
			</div>
		</div>
		<br>
		<br>
		<div class="form-group">
			<label for="inputText" class="col-sm-1 control-label">NOMBRE</label>
			<div class="col-sm-10">
			<input type="text" name="name" class="form-control" ng-model="ctrl.ingreso.name" placeholder="Ingrese un Nombre" required>
			<span ng-messages="form.name.$error" ng-show="form.name.$dirty" style="color: maroon" role="alert">
				<span ng-message="required">Requerido</span>
			</span>
			</div>
		</div>
		<br>
		<br>
		<div class="form-group">
			<label for="inputText" class="col-sm-1 control-label">APELLIDO</label>
			<div class="col-sm-10">
			<input type="text" name="lastName" class="form-control"	ng-model="ctrl.ingreso.lastName" placeholder="Ingrese un Apellido" required>
			<span ng-messages="form.lastName.$error" ng-show="form.lastName.$dirty" style="color: maroon" role="alert">
				<span ng-message="required">Requerido</span>
			</span>
			</div>
		</div>
		<br>
		<br>
	<!--  	<div class="form-group">
		<label class="col-sm-1 control-label">ESTADO</label>	
			<select class="form-control" name="active" required autocomplete="off" ng-model="ctrl.ingreso.active" title="Estado"
      		ng-options="s.descripcion for s in ctrl.tipoEstado track by s.active" style="width: 110px;">
      		 <option value="" disabled="true" selected>ESTADO</option> 
      		</select>					     													
		</div>	
		<br>
		<br>-->
		</form>
		
		<div class="text-right pt-20">
			<a href="#/abmUsuarios/lista" class="btn btn-link mr-10"
			ng-href="#/abmUsuarios/lista">Cancelar</a> 
			<a ng-href="" class="btn btn-primary" ng-disabled="!form.$valid" ng-click="ctrl.aceptar()">Confirmar</a>
		</div>
		
		</div>

	</div>
</div>

<style>
    .ng-invalid {
      border-color: red;
      outline-color: red;
    }
    .ng-valid {
      border-color: green;
      outline-color: green;
    }
  </style>



