<div class="app-content has-header has-subheader">

	<div class="app-header1">
			<div class="header">
				<div class="container">
					<h1 class="title"><i aria-hidden="true" class="lineal lineal-stack-windows"></i>ALTA DE NUEVO USUARIO</h1>	
						<div class="actions">
					<a ng-href="#/abmUsuarios/alta" class="btn btn-primary">Ingreso de Nuevo Usuario</a>
				</div>			
				</div>
			</div>

		<div class="subheader1">
				<div class="container">								
					<span class="label label-sm label-success">Filtro por nombre</span>
					<div id="form-search" class="form-group mt-10 mb-0">
					    <div class="input-search">
						  	<i class="lineal lineal-search"></i>
							<input ng-model="ctrl.filtro.name" class="form-control" placeholder="Ingrese Nombre" ng-change="ctrl.cambioFiltro()"  ng-model-options="{debounce: 500}">
						</div>
					</div>					
				</div>
			</div>
		</div>
	<div class="app-section">
		<div class="container">
		
		<table class="table main-list">
				<thead>
					<tr>
						<th class = "text-center">NOMBRE</th>
						<th class = "text-center">APELLIDO</th>
						<th class = "text-center">EMAIL</th>
						<!--  <th class = "text-center">ESTADO</th> -->
						<th class = "text-center">ACCIONES</th>
					</tr>
				</thead>
				<tbody>
				
					<tr ng-repeat="ingreso in ctrl.usuarioPager">
						<td class = "text-center">{{ingreso.name}}</td>
						<td class = "text-center">{{ingreso.lastName}}</td>
						<td class = "text-center">{{ingreso.email}}</td>
						<!--<td class = "text-center">
							<span class="label label-sm label-success" ng-if="ingreso.active==1">Activo</span>
							<span class="label label-sm label-default" ng-if="ingreso.active==2">Inactivo</span></td> -->
						<td class = "text-center">
							<a class="btn btn-secondary" ng-href="#/abmUsuarios/edicion/{{ingreso.id}}" title="Editar">Editar</a>
								<span ng-if="ingreso.active==1"><a class="btn btn-primary" title="Activo" ng-click="ctrl.remove(ingreso)">Activo</a></span>
								<span ng-if="ingreso.active==2"><a class="btn btn-danger" title="Inactivo" ng-click="ctrl.remove(ingreso)">Inactivo</a></span></td>
							<!--  <a class="btn btn-danger" title="Eliminar" ng-click="ctrl.remove(ingreso)">Eliminar</a> -->
						</td>
					</tr>
				</tbody>
			</table>
	
			<div class="text-right">
				<bgf-pagination collection="ctrl.usuarioPager" url="'usuarios/page'" method="POST" post-data="ctrl.filtro" per-page="5" auto-presets="false" reload-page="ctrl.reloadPage" num-items="ctrl.totalItems">
					</bgf-pagination>
			</div>
		</div>

	</div>
</div>



