<div class="app-content has-header has-subheader">

	<div class="app-header1">
			<div class="header">
				<div class="container">
					<h1 class="title"><i aria-hidden="true" class="lineal lineal-stack-windows"></i>INGRESO STOCK</h1>	
						<div class="actions">
					<a ng-href="#/ingresoStock/alta" class="btn btn-primary">Nuevo Ingreso de Stock</a>
				</div>			
				</div>
			</div>

		<div class="subheader1">
				<div class="container">				
					<div class="switch-group">
						<label class="switch">
							<input type="radio" name="options" id="search" autocomplete="off" ng-model="switch" ng-click="ctrl.limpiarFiltro();ctrl.cambioFiltro()"> Nombre
						</label>
						<label class="switch active">
						    <input type="radio" name="options" id="filters" autocomplete="off" checked="" ng-model="switch" ng-click="ctrl.limpiarFiltro();ctrl.cambioFiltro()"> Filtros
						</label>
					</div>

					<div id="form-search" class="form-group mt-10 mb-0">
					    <div class="input-search">
						  	<i class="lineal lineal-search"></i>
							<input ng-model="ctrl.filtro.descripcion" class="form-control" placeholder="Ingrese Nombre" ng-change="ctrl.cambioFiltro()"  ng-model-options="{debounce: 500}">
						</div>
					</div>
				
					<div id="form-filters" class="form-inline mt-10">						
						<div class="form-group">
					
							 <select class="form-control" ng-model="ctrl.filtro.endoso" title="endoso" ng-change="ctrl.cambioFiltro()"
      								ng-options="endoso for endoso in ctrl.endosos" style="width: 110px;">
      								<option value="" disabled="true" selected>Ubicacion</option>
      						  </select>
      						  	      								
						</div>

						<div class="form-group">						
							 <select class="form-control" ng-model="ctrl.filtro.tipoProceso" title="tipoProceso" ng-change="ctrl.cambioFiltro()"
      								ng-options="tipoProceso for tipoProceso in ctrl.tipoProcesos" style="width: 110px;">
      								<option value="" disabled="true" selected>Sector</option>
      						 </select>      													
						</div>								
						<div class="pull-right pt-50">
							<button class="btn btn-sm btn-default" ng-click="ctrl.limpiarFiltro();ctrl.cambioFiltro()">Limpiar</button>
						</div>

					</div>
				</div>
				
				<div class="options" ng-class="{'open':ctrl.cantSeleccionados() > 0}">
				<button class="close" title="cerrar" ng-click="ctrl.limpiarSeleccion()">x</button>
				<div class="container">
					<p>{{ctrl.cantSeleccionados()}} elementos seleccionados</p>
					<button class="btn btn-danger mr-10" ng-click="ctrl.removeList()"><i class="lineal lineal-cross"></i> Eliminar</button>
				</div>
			</div>
									
			</div>
		
		</div>
		
		<div ng-class="('minialert  active '+( ctrl.error ?  ((ctrl.error.resultado==0) ? 'minialert-success' : 'minialert-danger' )   :   'minialert-success' ))"  
		ng-show="ctrl.error"><div class="container">{{ctrl.error.descripcion}}</div></div>
		

	<div class="app-section">
		<div class="container">
		
		<table class="table main-list">
				<thead>
					<tr>
						<th><div class="checkbox"><label><input ng-model="ctrl.invertirSeleccion" ng-checked="" type="checkbox" ></label></div></th>
						<th class = "text-center">Codigo</th>
						<th class = "text-center">Descripci&oacute;n</th>
						<th class = "text-center">Cantidad</th>
						<th class = "text-center">Sector</th>
						<th class = "text-center">Agregar </th>
						<th class = "text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ingreso in ctrl.ingresoPager">
						<td><div class="checkbox"><label><input ng-checked="!ctrl.seleccionados.has(ingreso.id) != !ctrl.invertirSeleccion" ng-click="ctrl.toggleSeleccion(ingreso.id)" type="checkbox"></label></div></td>
						<td class = "text-center">{{ingreso.codigo}}</td>
						<td class = "text-center">{{ingreso.descripcion}}</td>
						<td class = "text-center">{{ingreso.cantidadMaxima}}</td>
						<td class = "text-center">{{ingreso.sector}}</td>
						<td class = "text-center"><input type="text" class="form-control" ng-model="ingreso.ingresoProducto" placeholder="Ingrese Cantidad"></td>
						<td class = "text-center">
							<a class="btn btn-primary" ng-href="#/ingresoStock/edicion/{{ingreso.id}}" title="Editar">Editar</a>
							<a class="btn btn-danger" title="Eliminar" ng-click="ctrl.remove(ingreso)">Eliminar</a>
							<a class="btn btn-secondary" title="Agregar" ng-click="ctrl.agregar(ingreso)">Agregar</a>
						</td>
					</tr>
				</tbody>
			</table>
<!-- <a href="javascript:generarPdf()">desacargar</a>			 -->
	
			<div class="text-right">
				<bgf-pagination collection="ctrl.ingresoPager" url="'stock/page'" method="POST" post-data="ctrl.filtro" per-page="5" auto-presets="false" reload-page="ctrl.reloadPage" num-items="ctrl.totalItems">
					</bgf-pagination>
			</div>
		</div>

	</div>
</div>



<script type="text/javascript">







		$("#form-search").hide();
		$(".switch-group #search").click(function(){
			$(this).parent().addClass("active");
			$("#filters").parent().removeClass("active");
			$("#form-search").show();
			$("#form-filters").hide();
		});
		$(".switch-group #filters").click(function(){
			$(this).parent().addClass("active");
			$("#search").parent().removeClass("active");
			$("#form-filters").show();
			$("#form-search").hide();
		});

		$("td .checkbox").click(function() {  
            $(".subheader .options").toggleClass("open"); 
        });
        $(".options .close").click(function() {  
            $(".subheader .options").removeClass("open"); 
        });
        
        $('[data-toggle="popover"]').popover({
	      html : true, 
	    });
	</script>

